
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        background: url(greg4.jpg) no-repeat center center fixed; 
		
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
    }
    h1 {
        color: #2A6A90;
        text-decoration: underline;
        -webkit-text-decoration-color: #FFCD00;
        text-decoration-color: #FFCD00;
    }
    #content {
      position: relative;
            z-index: 10;
            width: 340px;
            margin: 250px 500px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            padding-bottom: 80px;
    }
    #background {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.8;
        border-radius: 5px;
        background-color: #f2f2f2;
    }
    .formElement {
        color: white;
        font-size: 18px;
        background-color: #2A6A90;
        border: 1px solid #2A6A90;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 140px;
        padding: 5px;
    }
    input {
        font-size: 14px;
        padding: 7px;
    }
    #home {
        border-left: 2px solid #2A6A90;
        border-right: 2px solid #2A6A90;
        border-top: 2px solid #2A6A90;
        border-bottom: 1px solid white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-bottom: 0px;
        width: 280px;
    }
    #destination {
        border-left: 2px solid #2A6A90;
        border-right: 2px solid #2A6A90;
        border-bottom: 2px solid #2A6A90;
        border-top: 1px solid #aaaaaa;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: 0px;
        margin-bottom: 10px;
        width: 280px;
    }
    #dateTime {
        border: 2px solid #2A6A90;
        border-radius: 10px;
        margin-top: 0px;
        margin-bottom: 10px;
        width: 280px;
    }
    #select {
        width: 180px;
    }
    .noAvailable {
        font-size: 16px;
        color:#2A6A90;
        background-color:white;
        border: 2px solid #2A6A90;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 180px;
        padding: 10px;
    }
    button {
        display: block;
        font-size: 16px;
        color: #2A6A90;
        background-color: white;
        border-top: 1px solid #2A6A90;
        border-bottom: 1px solid #2A6A90;
        border-left: 2px solid #2A6A90;
        border-right: 2px solid #2A6A90;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 160px;
        padding: 8px;
        transition: all 0.5s;
        cursor: pointer;
    }
    button:hover {
        color: steelblue;
        background-color:lightgray;
        border-top: 1px solid #2A6A90;
        border-bottom: 1px solid #2A6A90;
        border-left: 2px solid #2A6A90;
        border-right: 2px solid #2A6A90;
    }
    #top {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-top: 2px solid #2A6A90;
    }
    #bottom {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom: 2px solid #2A6A90;
        margin-bottom: 20px;
    }
    #topAndBottom {
        border-top: 2px solid #2A6A90;
        border-bottom: 2px solid #2A6A90;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    #back {
        font-size: 18px;
        width: 160px;
        color: white;
        background-color: #3AFF00;
        border: 2px solid #3AFF00;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    #back span {
        cursor: pointer;
        position: relative;
        transition: 0.5s;
    }
    #back:hover {
        background-color: #3AFF00;
        border: 2px solid #3AFF00;
    }
    #back span:before {
        content: '\00ab';
        position: absolute;
        opacity: 0;
        top: 0;
        left: -20px;
        transition: 0.5s;
    }
    #back:hover span {
        padding-left: 20px;
    }
    #back:hover span:before{
        opacity: 1;
        left: 0;
    }
